<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="modal-header" class="modal-header">
        <h1 id="modal-title" class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="modal-body" class="modal-body">
        
      </div>
      <div id="modal-footer" class="modal-footer">
        <button type="button" class="btn" id="btn-close" data-bs-dismiss="modal">NON</button>
        <button type="button" class="btn btn-primary" id="btn-save">OUI</button>
      </div>
    </div>
  </div>
</div> -->




