<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
  <link rel="stylesheet" href="/css/index.css">
  <script src="/jquery.js"></script>
  <script src="/axios.js"></script>
  <!-- <script src="/js/bootstrap.js"></script> -->
  <script src="/js/main.js" type="module"></script>
</head>
<body>
  <div class="dashboard">

    <div class="dashboard__table">

      <div class="sidebar">
        <ul class="list-group">
          <h2 class="title-logo">
            <img class="logo" src="/img/logomcv.png" alt="logo">
          </h2>
          <% for (const table of tables) { %>
            <li class="list__tables" aria-current="true">
              <p><%= table.table_name %></p>
            </li>
          <% } %>
        </ul>
      </div>


      <div class="table_rows">
        <h3 class="h3 count-rows"></h3>
        <!-- <ul class="rows list-group">
          
        </ul> -->
        <table class="table">
          <thead class="thead">
            <!-- <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
            </tr> -->
          </thead>
          <tbody class="rows">
            
          </tbody>
        </table>
        <nav aria-label class="nav-pagination py-4">
          <ul class="pagination">
            <!-- pagination dynamic -->
          </ul>
        </nav>
      </div>

    </div>


    <div class="sidebar_edit flex justify-center">
      <svg class="close-sidebar" width="32" height="32" viewBox="0 0 512 512">
        <path fill="currentColor" d="M48 256c0 114.87 93.13 208 208 208s208-93.13 208-208S370.87 48 256 48S48 141.13 48 256Zm98 88c0-68.13 22.67-137.14 119.17-137.14V152L366 248l-100.83 96v-54.86c-66.69 0-91.32 19.29-119.17 54.86Z"/>
      </svg>
      <form class="form flex justify-center items-center flex-col">
        <!-- edit table -->
        <div class="form-content"></div>
        <button class="btn-editer" data-bs-toggle="modal" data-bs-target="#exampleModal">Editer</button>
      </form>
    </div>
    
  </div>
  
  <img class="img-golf" src="/img/GOLF8R.png" alt="image golf 8 r">
  <div class="owner">
    <p>created by Joris with<p>
    <svg width="15" height="auto" viewBox="0 0 20 20">
      <path fill="currentColor" fill-rule="evenodd" d="M3.172 5.172a4 4 0 0 1 5.656 0L10 6.343l1.172-1.171a4 4 0 1 1 5.656 5.656L10 17.657l-6.828-6.829a4 4 0 0 1 0-5.656Z" clip-rule="evenodd"/>
    </svg>
  </div>
</body>
</html>