@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');

* {
  margin: 0!important;
  padding: 0!important;   
}

body {
  background: rgb(34,40,73);
  background: linear-gradient(90deg, rgba(34,40,73,1) 0%, rgba(31,65,83,1) 100%); 
  font-family: 'Catamaran', sans-serif;
}

.logo  {
  text-align: center;
}

.sidebar {
  height: 100vh;
  background: rgb(42,103,136);
  background: linear-gradient(90deg, rgba(42,103,136,1) 0%, rgba(70,90,126,1) 100%);
}

.list-group-item.tables {
  background: rgb(42,103,136);
  background: linear-gradient(90deg, rgba(42,103,136,1) 0%, rgba(70,90,126,1) 100%);
  color: rgb(239, 239, 239);
  text-align: left;
  padding-left: 2rem;
  font-size: 0.9rem;
  height: 30px;
  line-height: 30px;
}

